.mat-dialog-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--line-color);
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.padding-content {
    padding: 3rem 0;
  }
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}