.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  table {
    .mat-row {
      cursor: pointer;
      
      &:hover {
        background-color: var(--sub-color);
      }
      &:active {
        background-color: var(--main-color);
        td {
          color: white;
          font-weight: 500;
        }
      }
    }
  }
}