# Local DB
db.sqlite3

# Byte-compiled / optimized / DLL files
*/__pycache__/
*/*/__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.aws
AWSCLIV2.pkg
dongnebascketball-dev-1671353868.zip

# Unit test / coverage reports
junit/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
coverage.xml
