[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "*"
factory-boy = "*"
django-environ = "*"
zappa = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "==0.971"
pre-commit = "*"
autoflake = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-env = "*"

[requires]
python_version = "3.9"
