.page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 2vw;

    .first-box {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      flex: 1 1 100%;
      max-width: 49%;
    }
    
    .second-box {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      flex: 1 1 100%;
      max-width: 49%;

      .freeboard-box {
        display: flex;
        flex-direction: column;
        gap: 2vh;
      }

      .question-answer-box {
        display: flex;
        flex-direction: column;
        gap: 2vh;
      }      
    }
  }
}