.page {
    height: 100%;
    display: flex;
    flex-direction: column;

    .bottom-button-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1vw;
    }
}

textarea {
    height: 50vh;

    &.mat-input-element {
        resize: none;
    }
}