.mat-dialog-content {
  
  form {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
    height: 3rem;
  }

  .email-box {

    button {
      margin-bottom: 1.34375em;
    }
  }

  .email-auth-box {

    button {
      margin-bottom: 1.34375em;
    }
  }
}