<div mat-dialog-title>
  <span>회원가입</span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="signUpForm">
    <div class="email-box">
      <mat-form-field appearance="outline">
        <mat-label for="email">이메일</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="이메일을 입력해주세요."
        />
        <mat-icon color="success" matSuffix *ngIf="authenticationSuccessful">
          check_circle
        </mat-icon>
        <mat-error *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
          {{ getEmailErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="emailAuthentication"
        *ngIf="!authenticationSuccessful"
        (click)="sendAuthenticationMail()"
      >
        인증메일 발송
      </button>
    </div>
    <div
      *ngIf="emailAuthentication"
      class="email-auth-box"
    >
      <mat-form-field appearance="outline">
        <mat-label>인증코드</mat-label>
        <input
          type="text"
          matInput
          [value]="authenticationCode"
          placeholder="인증코드 입력 후 확인을 클릭하세요."
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="authenticationVerification()"
      >
        확인
      </button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>이름</mat-label>
      <input
        type="text"
        matInput
        formControlName="username"
        placeholder="이름을 입력해주세요."
      />
      <mat-error
        *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched"
      >
        {{ getNameErrorMessage() }}
      </mat-error>
    </mat-form-field>
    

    <mat-form-field appearance="outline">
      <mat-label>비밀번호</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="비밀번호를 입력해주세요."
      />
      <mat-error
        *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"
      >
        {{ getPasswordErrorMessage() }}
      </mat-error>
    </mat-form-field>
    

    <mat-form-field appearance="outline">
      <mat-label>비밀번호 확인</mat-label>
      <input
        type="password" 
        matInput
        formControlName="confirmPassword"
        placeholder="비밀번호를 한번 더 입력해주세요."
      />
      <mat-error
        *ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched"
      >
        {{ getConfirmPasswordErrorMessage() }}
      </mat-error>
    </mat-form-field>
    

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="signUpForm.invalid"
      (click)="signUp()"
    >
        회원가입
    </button>
  </form>
</mat-dialog-content>