<div fxLayout="column">
  <div class="sidenav-item" routerLink="home" routerLinkActive="sidenav-item-active">
    <span>홈</span>
  </div>
  <div class="sidenav-item" routerLink="guest-announcement" routerLinkActive="sidenav-item-active">
    <span>게스트 공고</span>
  </div>
  <div class="sidenav-item" routerLink="freeboard" routerLinkActive="sidenav-item-active">
    <span>자유 게시판</span>
  </div>
  <div class="sidenav-item" routerLink="question-answer" routerLinkActive="sidenav-item-active">
    <span>Q & A</span>
  </div>
</div>