<form [formGroup]="QAForm">
  <div class="page">
    <mat-form-field appearance="fill">
      <mat-label>제목</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="게시글의 제목을 입력하세요."
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>본문</mat-label>
      <textarea
        matInput
        formControlName="content"
        placeholder="게시글의 내용을 입력하세요."></textarea>
    </mat-form-field>

    <div class="bottom-button-box">
      <button mat-raised-button type="reset" routerLink="../">취소</button>
      <button mat-raised-button type="submit" (click)="createQuestionAndAnswerPost()">등록</button>
    </div>
  </div>
</form>
