<div class="page" [formGroup]="QAEditForm">
  <div class="header-box">
    <!-- <h1>
      {{ QAPost?.title }}
    </h1> -->
    <input
        formControlName="title"
        placeholder="게시글의 제목을 입력하세요."
    />
    <div class="button-box">
      <button mat-raised-button (click)="editQAPost()">
        {{ edit ? '완료' : '수정' }}
      </button>
      <button mat-raised-button (click)="openDeleteDialog()">
        삭제
      </button>
    </div>
  </div>
  <span class="invalid" *ngIf="this.QAEditForm.get('title')?.invalid">
    * 제목은 필수입니다.
  </span>

  <div class="info-box">
    <span>생성 날짜 : {{ QAPost?.created_date }}</span>
    <span>수정 날짜 : {{ QAPost?.updated_date }}</span>
    <span>작성자 : {{ QAPost?.writer }}</span>
  </div>

  <div class="content-box">
    <textarea
        formControlName="content"
        placeholder="게시글의 내용을 입력하세요."></textarea>
  </div>

  <div class="bottom-button-box">
    <button mat-raised-button type="reset" routerLink="../">목록으로</button>
  </div>
</div>