.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  .top-button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .top-button-first-box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1vw;
    }
  }
}