mat-toolbar {
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}

.logo-box {
  display: flex;
  flex-direction: row;
  place-content: center;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
}

.login-box {
  justify-self: flex-end;
}